@{
    Layout = "~/Views/Shared/BooksLayout.cshtml";
}

@using Digital_Library.Models;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Log In</title>



    <!mincss files>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .login {
            margin: 0 auto;
            max-width: 500px;
        }

        .login-header {
            color: #fff;
            text-align: center;
            font-size: 300%;
        }

            .login-header h1 {
                text-shadow: 0px 5px 15px #000;
            }

        .login-form {
            border: 2px solid #999;
            background: #2c3e50;
            border-radius: 10px;
            box-shadow: 0px 0px 10px #000;
        }

            .login-form h3 {
                text-align: left;
                margin-left: 40px;
                color: #fff;
            }

        .login-form {
            box-sizing: border-box;
            padding-top: 15px;
            margin: 50px auto;
            text-align: center;
            overflow: hidden;
        }

        .login input[type="text"],
        .login input[type="password"] {
            width: 100%;
            max-width: 400px;
            height: 30px;
            font-family: 'Ubuntu', sans-serif;
            margin: 10px 0;
            border-radius: 5px;
            border: 2px solid #f2f2f2;
            outline: none;
            padding-left: 10px;
        }

        .login-form input[type="button"] {
            height: 30px;
            width: 100px;
            background: #fff;
            border: 1px solid #f2f2f2;
            border-radius: 20px;
            color: slategrey;
            text-transform: uppercase;
            font-family: 'Ubuntu', sans-serif;
            cursor: pointer;
        }

        .sign-up {
            color: #f2f2f2;
            margin-left: -400px;
            cursor: pointer;
            text-decoration: underline;
        }

        .no-access {
            color: #E86850;
            margin: 20px 0px 20px -300px;
            text-decoration: underline;
            cursor: pointer;
        }

        .try-again {
            color: #f2f2f2;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>



</head>
<body>
    <div class="login">
        <div class="login-header">
            <h1><font style="font-family:'Brush Script MT';font-size:2cm">Categories</font></h1>
        </div>
        <div class="login-form">

            @*******    form  filllll    ******@

            <form method="post" action="/Admin/BookAdd" enctype="multipart/form-data">
                <br />
                <br />
                <br />

                <div style="height:300px">

                    <input type="text" placeholder="Book Name" id="BName" name="BName" style="width:300px;height:50px" />
                    <br />
                    <input type="text" placeholder="Writer Name" id="WName" name="WName" style="width:300px;height:50px" />
                    <br />
                    <input type="text" placeholder="Category " id="CName" name="CName" style="width:300px;height:50px" />
                    <br />
                    <input type="submit" value="Add Book" class="btn btn-primary" style="color:black;font-size:20px;font-family:'Bodoni MT';width:150px;height:50px" />
                </div>
            </form>
            <div style="margin-bottom:50px">
            <form action="/Admin/SaveImage" method="post" enctype="multipart/form-data">

                <input type="text" placeholder="Book Name" id="Name" name="Name" style="width:300px;height:50px" />
                <div align="center">
                <input type="file" name="image" id="t1" style="width:300px;height:50px;color:white"class="glyphicon glyphicon-book" />

                </div>
                <br/>

                <input type="submit" value="Upload Image" class="btn btn-primary" style="color:black;font-size:20px;font-family:'Bodoni MT';width:150px;height:50px" />
       
           </form>
                </div>
    </div>
  </div>
    <div class="pull-right" style="margin-left:900px;margin-right:100px;margin-bottom:50px">
        <a href="/Admin/MoreBook"><span class="glyphicon glyphicon-circle-arrow-right" style="font-size:1cm;color:navy"><font style="font-family:Andalus;font-size:1cm">More Detail</font></span></a>
    </div>



    <!js files>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/dropdown.js"></script>
    <script src="~/Scripts/button.js"></script>
    <script src="~/Scripts/carousel.js"></script>
    <script src="~/Scripts/collapse.js"></script>

    <script src="~/Scripts/_references.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/npm.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</body>
</html>
