@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>


    
</head>
<body>
    <div  class="center" style=" border:inherit; height: 500px; width: 400px; margin-top: 0.85cm; margin-bottom: 5cm;margin-left:13cm">

                                                 @*****    About US ******@
        <div style="margin-left:3cm">
        <h3><font style="font-family:'Brush Script MT';font-size:1.25cm">About Us</font></h3>
            </div>
                                            @******  Internal paragraph******@
            <div style="font-family:'Book Antiqua';font-size:20px;margin-top:1cm">
                <p>
                    <ul>
                        <li>
                            We give the facility of online learning.
                            </li>
                        <li>
                            Have thousands of Books,in different category
                        </li>
                        <li>
                            Log in to library for extra facilities.
                        </li>
                        <li>
                            Interactive learning.
                        </li>
                        <li>
                        User can download Books from here.
                            </li>
                        </ul>
                   
                </p>

            </div>

            </div>

      

  
</body>
</html>
