@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Log In</title>



    <!mincss files>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .login {
  margin:0 auto;
  max-width:500px;
}
.login-header {
  color:#fff;
  text-align:center;
  font-size:300%;
}
.login-header h1 {
   text-shadow: 0px 5px 15px #000;
}
.login-form {
  border:2px solid #999;
  background:#2c3e50;
  border-radius:10px;
  box-shadow:0px 0px 10px #000;
}
.login-form h3 {
  text-align:left;
  margin-left:40px;
  color:#fff;
}
.login-form {
  box-sizing:border-box;
  padding-top:15px;
  margin:25px auto;
  text-align:center;
	overflow: hidden;
}
.login input[type="text"],
.login input[type="password"] {
  width: 100%;
	max-width:400px;
  height:30px;
  font-family: 'Ubuntu', sans-serif;
  margin:10px 0;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
}
.login-form input[type="button"] {
  height:30px;
  width:100px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:20px;
  color: slategrey;
  text-transform:uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
}
.sign-up{
  color:#f2f2f2;
  margin-left:-400px;
  cursor:pointer;
  text-decoration:underline;
}
.no-access {
  color:#E86850;
  margin:20px 0px 20px -300px;
  text-decoration:underline;
  cursor:pointer;
}
.try-again {
  color:#f2f2f2;
  text-decoration:underline;
  cursor:pointer;
}

        </style>

                @**Ajax code*@
    <script>

    </script>



</head>
<body>
   
    <div class="login">
        <div class="login-header">
            <h1><font style="font-family:'Brush Script MT';font-size:2cm">Login</font></h1>
        </div>
        <div class="login-form">

                                @*******    form  filllll    ******@
            <form method="get" action="/ValidUser/LogInValid">
            <h3>Username:</h3>
                <input type="text" placeholder="Username" id="Name" name="Name" required="Required" /><br>
            <h3>Password:</h3>
                <input type="password" placeholder="Password" id="Password" name="Password" required="Required" />
            <br/>
                <br/>
            <input type="submit" value="Login" class="btn btn-primary" style="color:black;font-size:20px;font-family:'Bodoni MT';width:150px;height:50px" />
            <br>
            <h6 class="no-access">Can't access your account?</h6>
           </form>
        </div>
    </div>
    <div class="error-page">
        <div class="try-again" style="color:mistyrose">Error: Try again?</div>
    </div>

    

            <!js files>
            <script src="~/Scripts/bootstrap.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
            <script src="~/Scripts/dropdown.js"></script>
            <script src="~/Scripts/button.js"></script>
            <script src="~/Scripts/carousel.js"></script>
            <script src="~/Scripts/collapse.js"></script>

            <script src="~/Scripts/_references.js"></script>

            <script src="~/Scripts/bootstrap.min.js"></script>

            <script src="~/Scripts/npm.js"></script>

            <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    </body>
</html>
