@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact Us</title>


    <style>
        .container1 {
            width: 1350px;
            height: 400px;
            margin: 10px auto;
            position: relative;
            text-align: center;
        }

        .block {
            height: 450px;
            width: 500px;
            display: inline-block;
            margin: 5px;
        }
    </style>
    @**Carosal example**@
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            height: 100%;
            margin: auto;
        }
    </style>

</head>
<body>
    <div class="center" style=" border:inherit; height: 100px; width: 450px; margin-top: 0.85cm; margin-bottom: 5cm;margin-left:11cm">

        @*****   News and Event ******@
        <div style="margin-left:3cm">
            <h3><font style="font-family:'Brush Script MT';font-size:1.25cm">News and Event</font></h3>
        </div>
        @******  Internal paragraph******@
        <div style="font-family:'Book Antiqua';font-size:20px;margin-top:1cm;margin-left:2cm">
            <p style="text-align:center;text-decoration-color:green">
                17 All Pakistan Libraries Conference 2016.<br/>
                Introduce new Branch in Karachi.<br/>
                Online Book Reservation facility will 
                <br/> be provided very Soon.<br/>




                </p>
               

        </div>

    </div>
   
  



</body>
</html>
