@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp2</title>

    
    <style>
        .login-header {
  color:#fff;
  text-align:center;
  font-size:300%;
}
        </style>

    <!css files>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
   
        <div class="center-block" style="margin-top:2cm;margin-bottom:6cm">

            <div class="login-header">
                <div class="alert alert-success" style="margin-left:230px;margin-right:230px">
                    
                    <span class="glyphicon glyphicon-thumbs-up" style="font-size:2cm;margin-top:20px"></span>
                <h1><font style="font-family:'Angsana New';font-size:1cm;color:darkgoldenrod"><strong>CONGRATULATION...</strong>You are Successfully Added!!! </font></h1>
                <h1><font style="font-family:'Angsana New';font-size:1cm;color:darkgoldenrod">LogIn to get more <strong>Features</strong></font></h1>
                    
                   
            </div>
                </div>

        </div>
        
    <!js files>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/dropdown.js"></script>
    <script src="~/Scripts/button.js"></script>
    <script src="~/Scripts/carousel.js"></script>
    <script src="~/Scripts/collapse.js"></script>

</body>
</html>
