@{
    Layout = null;
}

<!DOCTYPE html>

<html>


<body>


    <script>
        $().ready(function () {



            $('#Login').click(function () {

                var roll = $('#Name').val();
                var roll2 = $('#Password').val();
                alert(roll);
                $.getJSON("/ValidUser/LogInValid?Name"=+roll, function (data) {

                    if (data != null) {
                        $('#Login').append('<div> <p> Roll No =' + data.Name '</p></div>');
                    }

                });

            });


        });


    </script>



    <input type="text" placeholder="Enter Roll No" name="roll" id="roll" width="50" height="20" /> <p>Like bitf12m021,bitf12m022</p>
    <div id="comment"></div>
    <input type="submit" name="submit" id="submit" />

</body>


</html>
